<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Team</title>
    <link rel="stylesheet" href="addTeamPageStyle.css">

</head>
<body>

<div class="container">
    <h2>Add Team</h2>
    <label for="companyName">Your team name:</label>
    <input type="text" id="companyName" placeholder="Enter team name">

    <label for="companyManager">Team manager:</label>
    <input type="text" id="companyManager" placeholder="Enter team manager's name">

    <h3>Workers List</h3>
    <ul id="workers-list">
        <!-- Workers will be added here -->
    </ul>

    <label for="workerName">Add Worker:</label>
    <input type="text" id="workerName" placeholder="Enter worker's name">

</div>


</body>
</html>