<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnBoardlyLogin</title>
</head>
<body>
    <h1>Welcome to OnBoardly</h1>

    <form action="">
        <label for="first">Username:</label>
            <input type="text" id="first" name="first" 
                placeholder="Enter your Username" required>

        <label for="password">Password:</label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>
    </form>
    <button type="submit"> Login </button>
</body>
</html>