/* Profile Container */
.profile-container {
    background-color: var(--color-white);
    border-radius: 12px;
    width: 80%;
    height: 80vh;
    max-width: 1400px;
    margin: auto;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Heading Styles */
h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--color-text);
}

/* Content Section */
.content-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Department and Process Containers */
.left-container, .right-container {
    width: 45%;
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-card-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-container:hover, .right-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Section Heading */
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-text);
    text-transform: uppercase;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text);
    transition: background-color 0.3s;
}

li:hover {
    background-color: var(--color-primary-light);
    cursor: pointer;
}

/* Button Group */
.button-group {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

/* Buttons */
.add-button, .edit-button {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-align: center;
    border: none;
}

.add-button:hover, .edit-button:hover {
    transform: scale(1.05);
    background-color: var(--color-primary-light);
}
