* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

header, footer {
  position: relative;
  z-index: 1; /* Ensures header and footer are on top of the video */
}

#app {
  position: relative;
  flex: 1; /* Takes the available space between header and footer */
  display: flex;
  flex-direction: column;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the background */
  z-index: -1; /* Places the video behind the content */
}

.hero {
  position: relative;
  flex: 1; /* Takes the available space between header and footer */
  text-align: center;
  /* color: #fff; */
  padding: 50px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero h1 .highlight {
  color: #6A11CB;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cta-link {
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background: var(--color-primary);
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.cta-link:hover {
  background: var(--color-background);
  transform: scale(1.05);
}
